<!DOCTYPE html>
<html>
    <head>
        <title>MiniProject</title>
        <!-- link external css-->
        <link rel="stylesheet" href="../styles/styles.css">
    </head>
    <body>
        <div class="menu_items">
            <a href="#">Home</a> | 
            <a href="#biryani">Biryani</a> |
            <a href="#cakes">Cakes</a> |
            <a href="#">Desserts</a> |
            <a href="#">Cool Drinks</a>
        </div>

        <div class="my_title">
            <h1>
               <span style="color:yellow;">AshokIT</span> <span style="color: white;">Restaurant</span>
            </h1>
        </div>

        <div>
            <h2><marquee>Welcome to AshokIT Restaurant</marquee></h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis architecto, possimus, cupiditate repudiandae molestias, eaque sequi aut doloremque placeat libero dolorum. Molestias, excepturi commodi? Earum omnis a itaque illo molestiae.</p>
        </div>

        <!-- biryani related stuff-->
        <div id="biryani" style="text-align: center;">
            <h2 class="category">Biryani</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Atque tempore vero necessitatibus natus, exercitationem labore quibusdam. Reprehenderit odio provident quisquam!</p>
            <table>
                <tr>
                    <td><img src="../images/pexels-daria-shevtsova-1095550.jpg"></td>
                    <td><img src="../images/pexels-ella-olsson-1640777.jpg"></td>
                </tr>
                <tr>
                    <td style="color: red;">Biryani1</td>
                    <td style="color: yellow;">Biryani2</td>
                </tr>
            </table>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In, nostrum ducimus! In totam ab inventore rem cum amet soluta maiores?</p>
        </div>

        <!-- cakes related stuff-->
        <div id="cakes" style="text-align: center;">
            <h2 class="category">Cakes</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Atque tempore vero necessitatibus natus, exercitationem labore quibusdam. Reprehenderit odio provident quisquam!</p>
            <table>
                <tr>
                    <td><img src="../images/pexels-elli-1854652.jpg" width="200px" height="250px" style="margin: 10px;"></td>
                    <td><img src="../images/pexels-kristina-paukshtite-1998635.jpg" width="200px" height="300px" style="margin: 10px;"></td>
                    <td><img src="../images/pexels-kristina-paukshtite-1998635.jpg" width="200px" height="300px" style="margin: 10px;"></td>
                    <td><img src="../images/pexels-elli-1854652.jpg" width="200px" height="300px" style="margin: 10px;"></td>
                </tr>
                <tr>
                    <td style="color: red;">Cake1</td>
                    <td style="color: yellow;">Cake2</td>
                    <td style="color: yellow;">Cake3</td>
                    <td style="color: yellow;">Cake4</td>
                </tr>
            </table>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In, nostrum ducimus! In totam ab inventore rem cum amet soluta maiores?</p>
        </div>




    </body>
</html>